@import "tailwindcss";

:root {
  --background: #ffffff;
  --orange: #FF4E00; /* Ajout de la couleur orange */
}
@font-face {
  font-family: "Basier Circle";
  src: local("Basier Circle Circle Regular"),
    local("Basier-Circle-Circle-Regular"),
    url("../../public/fonts/BasierCircle-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  font-family: "Basier Circle"; /* Appliquez la police ici */
}
.brands-carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}


/* Classe utilitaire personnalisée pour Tailwind */
@layer utilities {
  .bg-orange-custom {
    background-color: var(--orange);
  }
  .text-orange-custom {
    color: var(--orange);
  }
}